

body{
    background-image: url(background.jpeg);
    width: 100%;
    height: 100%;
}
.header {
    width: 70%;
    height: 80px;
    background-color: aqua;
    margin-left: 19%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.user-menu {
    width: 40%;
    background-color: azure;
}

.friend-menu {
    width: 60%;
    background-color: blue;
}

@media only screen and (max-width : 1439px){
    .header {width: 100%; margin: auto;}
    .user-menu {background-color: yellowgreen; width: 40%;}
    .friend-menu {background-color: yellow; width: 60%;} 
}